[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
replicate = "*"
sentence-transformers = "*"
faiss-cpu = "*"
firebase-functions = "*"
firebase-admin = "*"
yapf = "*"

[dev-packages]

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
